<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libingbing.cms.dao.adminDao.AdminMapper">
	<resultMap type="com.libingbing.cms.domain.SpcialArticle" id="specialMap">
  	<id property="id" column="id"></id>
  	<result property="title" column="title"/>
  	<result property="abstr" column="abstr"/>
  	<result property="created" column="created"/>
  	<collection property="articleList" column="id" ofType="com.libingbing.cms.domain.Article" select="selectSpecials"></collection>
  </resultMap>
  <select id="selectSpecialById" parameterType="int" resultMap="specialMap">
  	SELECT 
		id,title,abstr,created
	FROM
		cms_special
	WHERE
		id=#{id}
  </select>
   
   
   <select id="selectSpecial" resultMap="specialMap">
  	SELECT 
		id,title,abstr,created
	FROM
		cms_special
  </select>
  
  <select id="selectSpecials" parameterType="int" resultType="com.libingbing.cms.domain.Article">
  	SELECT
		b.id,b.title,b.created
	FROM
		cms_article as b
		LEFT JOIN cms_user as u ON u.id=b.user_id
		LEFT JOIN cms_special_article as cpa ON cpa.aid=b.id
		LEFT JOIN cms_special as sp ON sp.id=cpa.sid
	WHERE 
		sp.id=#{id}
  </select>
  
  <select id="getSpecialById" parameterType="int" resultType="com.libingbing.cms.domain.SpcialArticle">
  	SELECT 
		id,title,abstr,created
	FROM
		cms_special
	WHERE
		id=#{id}
  </select>
  
  <insert id="saveSpeccial" parameterType="com.libingbing.cms.domain.SpcialArticle">
  	insert into cms_special(title,abstr) values(#{title},#{abstr})
  </insert>
  
  <update id="updateSpecial" parameterType="com.libingbing.cms.domain.SpcialArticle">
  	update cms_special
  	<set>
  		<if test="title!=null and title!=''">
  			title = #{title},
  		</if>
  		<if test="abstr!=null and abstr!=''">
  			abstr = #{abstr},
  		</if>
  	</set>
  	where id=#{id}
  </update>
  
  <insert id="addSpecialArticle" parameterType="map">
  	insert into cms_special_article(aid,sid) values(#{aid},#{sid}) 
  </insert>
  
  <select id="selectArticleByMiddleId" parameterType="int" resultType="com.libingbing.cms.domain.Article">
  	SELECT
		b.id,b.title,b.created
	FROM
		cms_article as b
		LEFT JOIN cms_user as u ON u.id=b.user_id
		LEFT JOIN cms_special_article as cpa ON cpa.aid=b.id
		LEFT JOIN cms_special as sp ON sp.id=cpa.sid
	WHERE 
		cpa.aid=#{id}
  </select>
		
	<update id="updateSpecialArticle" parameterType="map">
		update cms_special_article set sid=#{sid} where aid=#{aid}
	</update>
	
	<select id="selectUsers" resultType="com.libingbing.cms.domain.User">
		SELECT
			id,username,nickname,created
		FROM
			cms_user
	</select>
	
</mapper>